name: Static Code Analysis and Packaging
on:
  push:
    branches: [ "master","develop" ]
    
jobs:
  CodeQL:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
    steps:
    - name: Checkout code 
      uses: actions/checkout@v2
    - name: Setup JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: 'adopt'
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: Java    
    - name: Build with Maven
      run: mvn clean install
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
      with:
        languages: Java   
    
  Packaging:
    needs: codeql
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: 'adopt'
    - name: Create WAR file 
      run: mvn -B package --file pom.xml
    - name: Upload WAR file as artifact
      uses: actions/upload-artifact@v2 
      with:
        name: HWC-API
        path: target/hwc-facility-service.war  
